/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.mt-16 {
  margin-top: 16px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-56 {
  margin-top: 56px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-56 {
  margin-bottom: 56px;
}

.mb-68 {
  margin-bottom: 68px;
}

.mb-144 {
  margin-bottom: 144px;
}

.mb-160 {
  margin-bottom: 160px;
}

.ml-13 {
  margin-left: 13px;
}

.mx-24 {
  margin: 0 24px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-56 {
  margin: 56px 0;
}

.my-28 {
  margin: 28px 0;
}

.pt-56 {
  padding-top: 56px;
}

.pt-64 {
  padding-top: 64px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pb-64 {
  padding-bottom: 64px;
}

.fz-20 {
  font-size: 20px;
}

.fz-24 {
  font-size: 24px;
}

.fz-64 {
  font-size: 64px;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.lh-30 {
  line-height: 30px;
}

.lh-36 {
  line-height: 36px;
}

.lh-42 {
  line-height: 42px;
}

.lh-84 {
  line-height: 84px;
}

.text-light {
  color: white;
}

.bg-black {
  background: #000000;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fww {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tac {
  text-align: center;
}

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  margin: 0 auto;
}

.banner {
  position: relative;
}

.banner img {
  background-size: cover;
}

.banner .banner-text {
  position: absolute;
  top: 245px;
  left: 806px;
}

.banner .banner-text h1 {
  font-size: 80px;
  line-height: 1.325;
}

.about .about-list p {
  display: inline-block;
  border-bottom: 1px solid black;
}

.about .about-from li::before {
  content: "";
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 16px;
  background-color: #891818;
}

.brand {
  max-width: 1200px;
  margin: 0 auto;
}

.other .poster-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact a:hover {
  font-size: 28px;
  color: blue;
  text-decoration: underline;
}
/*# sourceMappingURL=index.css.map */